<header class="site-header" style="padding: 2em 0; text-align: center;">
  <a href="/" class="headline" style="font-size: 2.5em; font-family: 'Playfair Display', serif; color: {{ settings.primary_color }}; text-decoration: none;">
    miçangaria
  </a>
  <nav style="margin-top: 1em;">
    <a href="/collections/all" style="margin: 0 1em; color: {{ settings.text_color }}; text-decoration: none; font-weight: 500;">Produtos</a>
    <a href="/pages/style-advisor" style="margin: 0 1em; color: {{ settings.text_color }}; text-decoration: none; font-weight: 500;">Consultor de Estilo</a>
    <a href="/pages/about" style="margin: 0 1em; color: {{ settings.text_color }}; text-decoration: none; font-weight: 500;">Sobre Nós</a>
  </nav>
</header>
